TABLE NAME:
tb311
tbTree
tbRent
tbZipcodes

# Part 1: Data Preprocessing

In [7]:
import requests
import json
import pandas as pd

## Download DATA

In [8]:
token = 'eGoVZwLahX4QKwljgqtidcGuw'
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.json"
url_tree = "https://data.cityofnewyork.us/resource/5rq2-4hqu.json"
start_date = '2015-01-01T00:00:00.000'
end_date = '2023-10-01T00:00.000'
start_date_tree = '01/01/2015'

### Download DATA of 311

In [9]:
data311_url = f"{url_311}?$select=count(*)&$where=created_date>'{start_date}'and created_date<'{end_date}'&$$app_token={token}"
response = requests.get(data311_url)
# with open("data311.json", "wb") as file:
#         file.write(response.content)
num = int(json.loads(response.content)[0]['count'])
num

24334859

In [10]:
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit=10000000"
response = requests.get(data311_url) 
data = response.json()
df_data311 = pd.DataFrame(data)
df_data311
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
9999995,47194353,2020-08-10T12:11:43.000,Blocked Driveway,11377,2020-08-10T12:52:36.000,1009797,211998,40.74852520005724,-73.90779884309966,14787
9999996,47189561,2020-08-10T12:11:40.000,Indoor Air Quality,10468,2020-08-10T17:04:45.000,1012053,252702,40.860239591233366,-73.89948820420176,11606
9999997,47190325,2020-08-10T12:11:02.000,NonCompliance with Phased Reopening,11356,2020-08-14T13:29:00.000,1029348,226316,40.78774622870991,-73.8371417826674,14191
9999998,47188108,2020-08-10T12:11:00.000,Dirty Conditions,NaN,2020-09-18T12:00:00.000,NaN,NaN,NaN,NaN,NaN
9999999,47197771,2020-08-10T12:11:00.000,Dirty Conditions,10473,2020-08-17T12:00:00.000,1025468,240511,40.82672647319608,-73.85106608325964,11611

In [11]:
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit=10000000&$offset=10000000"
response = requests.get(data311_url) 
data = response.json()
df_data311_1 = pd.concat([df_data311, pd.DataFrame(data)], ignore_index=True)
df_data311_1
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
19999995,34679361,2016-11-01T02:09:00.000,Noise,10035,2016-11-02T22:30:00.000,1000105,230736,40.79997877461986,-73.94273381900739,13093
19999996,34672357,2016-11-01T02:09:00.000,Noise - Residential,10040,2016-11-01T02:29:52.000,1001515,251171,40.85606435468108,-73.93758849825578,13098
19999997,34685649,2016-11-01T02:08:30.000,HEAT/HOT WATER,10472,2016-11-01T02:22:25.000,1018209,239723,40.824594531459304,-73.8772991398564,11610
19999998,34679334,2016-11-01T02:08:21.000,General Construction/Plumbing,11419,2016-11-10T00:00:00.000,1031447,187834,40.68211187789757,-73.82983183641889,24015
19999999,34686346,2016-11-01T02:07:34.000,WATER LEAK,10453,2016-11-02T13:56:00.000,1007493,250591,40.85445871431665,-73.91598056093478,10931

In [12]:
num3 = num - 20000000
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit={num3}&$offset=20000000"
response = requests.get(data311_url) 
data = response.json()
df_data311_2 = pd.concat([df_data311_1, pd.DataFrame(data)], ignore_index=True)
df_data311_2
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
24334854,29609918,2015-01-01T00:04:44.000,Illegal Parking,11421,2015-01-01T10:21:37.000,1022809,192567,40.69514470265117,-73.86094888534394,24017
24334855,29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468,2015-01-01T02:23:16.000,1009923,255465,40.86782963689454,-73.90717786644662,11606
24334856,29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031,2015-01-01T00:19:33.000,997847,238629,40.821646626438095,-73.95087342885292,12428
24334857,29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466,2015-01-01T02:41:57.000,1024816,262237,40.88636077906953,-73.85329048666742,11275
24334858,29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420,2015-01-01T02:47:01.000,1038733,184971,40.674211762243935,-73.80358548685278,24016

In [15]:
date311_file_path = "/Users/yoyo/Desktop/4501/Project/data/data311.csv"
with open(date311_file_path, "w", encoding='utf-8') as csv_file:
        df_data311_2.to_csv(csv_file, index=False)

### Download DATA of TREE

In [9]:
dataTree_url = f"{url_tree}?$select=count(*)&$where=created_at>'{start_date_tree}'&$$app_token={token}"
response = requests.get(dataTree_url)
response
num_tree = int(json.loads(response.content)[0]['count'])
num_tree

683788

In [14]:
dataTree_url = f"{url_tree}?$$app_token={token}&$where=created_at>='{start_date_tree}'&$limit={num_tree}"
response = requests.get(dataTree_url) 
data = response.json()
df_dataTree = pd.DataFrame(data)
df_dataTree

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,"{'type': 'Point', 'coordinates': [-73.84421521...",3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749
1,09/03/2015,200540,315986,"{'type': 'Point', 'coordinates': [-73.81867945...",21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379
2,09/05/2015,204026,218365,"{'type': 'Point', 'coordinates': [-73.93660770...",3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267
3,09/05/2015,204337,217969,"{'type': 'Point', 'coordinates': [-73.93445615...",10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136
4,08/30/2015,189565,223043,"{'type': 'Point', 'coordinates': [-73.97597938...",21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,08/18/2015,155433,217978,"{'type': 'Point', 'coordinates': [-73.95494401...",25,0,OnCurb,Alive,Good,Quercus palustris,...,53,18,BK73,North Side-South Side,3051900,New York,40.71321078,-73.95494401,996740.685965,199121.636255
683784,08/29/2015,183795,348185,"{'type': 'Point', 'coordinates': [-73.85665019...",7,0,OnCurb,Alive,Good,Cladrastis kentukea,...,28,15,QN17,Forest Hills,4070700,New York,40.71519444,-73.8566502,1023989.07438,199873.647547
683785,08/22/2015,166161,401670,"{'type': 'Point', 'coordinates': [-74.13651724...",12,0,OnCurb,Alive,Good,Acer rubrum,...,63,24,SI07,Westerleigh,5020100,New York,40.62076153,-74.13651724,946351.410431,165466.07627
683786,08/29/2015,184028,504204,"{'type': 'Point', 'coordinates': [-73.90311472...",9,0,OnCurb,Alive,Good,Acer rubrum,...,86,33,BX41,Mount Hope,2023502,New York,40.85082819,-73.90311472,1011053.64553,249271.950653
683787,09/03/2015,200607,306527,"{'type': 'Point', 'coordinates': [-73.78752645...",23,0,OnCurb,Alive,Fair,Acer rubrum,...,25,11,QN41,Fresh Meadows-Utopia,4134100,New York,40.73216525,-73.78752646,1043136.35794,206095.538318

In [15]:
dateTree_file_path = "/Users/yoyo/Desktop/4501/Project/data/dataTree.csv"
with open(dateTree_file_path, "w", encoding='utf-8') as csv_file:
        df_dataTree.to_csv(csv_file, index=False)

## Cleaning & Filtering

### removing unnecessary columns and invalid data point of "zillow_rent_data"

In [ ]:
import pandas as pd
import geopandas as gpd

#zillowdf = pd.read_csv('/Users/yoyo/Desktop/4501/Project/data/zillow_rent_data.csv')
zillowdf = pd.read_csv("C:/Users/Yining Zhu/OneDrive/桌面/4004pj/zillow_rent_data.csv")

zillowdf = zillowdf.drop(['SizeRank','RegionType','StateName','State','City','Metro','CountyName'], axis=1)
zillowdf = zillowdf.set_index('RegionID')
zillowdf.columns = ['ZipCode',*list(map(lambda x:x[:7],df.columns[1:]))]

def exneg(x):
    if x<0:
        print("There is a negativa number!")
        return np.nan
    else:
        return x

zillowdf.iloc[:,1:] = zillowdf.iloc[:,1:].map(exneg)
zillowdf

,RegionID,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,77494,1606.206406,1612.779844,1622.201575,1630.392427,1632.411500,1636.206864,1644.894632,1643.390762,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,77449,1257.814660,1255.268025,1262.170452,1274.955754,1285.526052,1295.665673,1296.650395,1300.868081,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
8,91926,77433,1332.384333,1328.107408,1334.325290,1342.507107,1343.204774,1349.345048,1357.258039,1377.862795,...,1881.204550,1885.695935,1884.894986,1880.532012,1870.035369,1863.111029,1892.511066,1922.759295,1945.581823,1975.672556
15,62037,11226,1944.609891,1971.608676,2044.189151,2061.734126,2076.492259,2057.344849,2075.751863,2089.437276,...,2695.164727,2680.683700,2676.791284,2697.414702,2706.080701,2726.381017,2753.966159,2770.403005,2785.320137,2762.435713
17,70829,30044,1157.569878,1168.554459,1173.937503,1176.423247,1180.259047,1183.618022,1193.861072,1193.071896,...,2125.698496,2113.964250,2170.556028,2160.008767,2191.894968,2181.780560,2161.711011,2117.990720,2119.319392,2055.476496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6081,72535,33316,1516.867645,1563.157153,1587.598462,1594.209375,1547.873134,1538.664944,1544.736510,1560.692676,...,2789.170713,2785.815453,2746.535571,2713.396816,2738.017168,2751.151747,2765.166473,2754.942090,2802.399238,2807.121693
6291,61619,10005,3322.820002,3325.266520,3360.855523,3425.103401,3461.476673,3442.335782,3423.117819,3420.913867,...,4146.616499,4148.621838,4132.568610,4227.729129,4243.256997,4284.592140,4311.972205,4328.677947,4368.786174,4376.242224
6407,61632,10018,3743.724882,3798.857811,3803.823494,3833.123713,3832.158232,3896.840609,3883.391381,3860.395188,...,4654.376667,4612.245285,4589.440639,4639.745327,4672.359929,4734.416758,4738.242826,4769.003006,4761.383456,4725.397721
6523,65794,19127,1471.460658,1489.680640,1509.011080,1518.768058,1509.061492,1518.409496,1515.777012,1517.397687,...,2039.320162,2070.571422,2098.355819,2163.898107,2165.801610,2161.056259,2165.745168,2173.616520,2175.558970,2170.285256
6556,58627,2113,1929.058151,1945.074092,1998.791405,2027.829595,2046.273275,2067.697849,2081.693244,2056.949808,...,2565.815618,2592.241469,2710.946677,2663.244126,2732.798644,2777.828510,2804.259750,2827.858275,2808.948449,2868.692130

### Normalize the SRID, Removing unnecessary columns and invalid data point of "zipcodes"

In [18]:
#file_path = '/Users/yoyo/Desktop/4501/Project/data/nyc_zipcodes.shp'
file_path = "C:/Users/Yining Zhu/OneDrive/桌面/4004pj/nyc_zipcodes/nyc_zipcodes.shp"
gdf = gpd.read_file(file_path)

target_srid = "4326"
gdf_epsg = gdf.to_crs(epsg=target_srid)
# print(gdf.crs)

gdf_epsg = gdf_epsg.drop(['BLDGZIP','PO_NAME','POPULATION','AREA','STATE','COUNTY','ST_FIPS','CTY_FIPS','URL','SHAPE_AREA','SHAPE_LEN'], axis=1)

gdf_epsg = gdf_epsg.dropna()
gdf_epsg.columns = ['ZipCode','geometry']
gdf_epsg.index.name = 'ID'
gdf_epsg

    ZIPCODE                                           geometry
0     11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1     11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2     11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3     11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4     11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...
..      ...                                                ...
258   10310  POLYGON ((-74.12065 40.64104, -74.12057 40.641...
259   11693  POLYGON ((-73.84076 40.62536, -73.84306 40.627...
260   11249  POLYGON ((-73.95805 40.72442, -73.95772 40.724...
261   10162  POLYGON ((-73.95133 40.76931, -73.95165 40.769...
262   10119  POLYGON ((-73.99354 40.75145, -73.99320 40.751...

[263 rows x 2 columns]

# Part 3: Understanding Data

## Query 1

In [ ]:
query1 = """
        SELECT incident_zip as zip_code,
               COUNT(unique_key) AS complaint_num
        FROM tb311
        WHERE created_date BETWEEN '2022-10-01T00:00:00.000' AND '2023-09-30T23:59:59.999'
        GROUP BY incident_zip
        """

In [ ]:
query2 = """
        SELECT zipcode,
               COUNT(tree_id) AS tree_num
        FROM tbTree
        GROUP BY zipcode
        ORDER BY COUNT(tree_id) DESC
        LIMIT 10
        """

In [ ]:
query3 = """
        WITH tb_most_tree_zipcode as(
                                    SELECT zipcode,
                                           COUNT(tree_id) AS tree_num
                                    FROM tbTree
                                    GROUP BY zipcode
                                    ORDER BY COUNT(tree_id) DESC
                                    LIMIT 10),
        SELECT t1.zipcode,
               ROUND(AVERAGE(t2.2023-08-31),2) AS average_rent
        FROM tb_most_tree_zipcode AS t1
        JOIN tbRent AS t2 ON t1.zipcode = t2.RegionName
        GROUP BY t1.zipcode
        ORDER BY t1.tree_num
        """

In [1]:
query4 = """
        WITH 
        lowest_highest_rent_zipcode as(SELECT RegionName as zipcode,
                                              ROUND(AVERAGE(2023-01-31),2) AS average_rent
                                       FROM tbRent
                                       GROUP BY zipcode
                                       ORDER BY ROUND(AVERAGE(2023-01-31),2) ASC
                                       LIMIT 5
                                       UNION ALL
                                       SELECT RegionName as zipcode,
                                              ROUND(AVERAGE(2023-01-31),2) AS average_rent
                                       FROM tbRent
                                       GROUP BY zipcode
                                       ORDER BY ROUND(AVERAGE(2023-01-31),2) DESC
                                       LIMIT 5),
                                               
        SELECT t1.zipcode,
               t1.average_rent,
               COUNT(t2.tree_id) AS tree_num,
               COUNT(t3.unique_key) AS complaint_num
        FROM lowest_highest_rent_zipcode as t1
        LEFT JOIN tbTree AS t2 ON t1.zipcode = t2.zipcode
        LEFT JOIN tb311 AS t3 ON t1.zipcode = t2.incident_zip
        GROUP BY t1.zipcode, t1.average_rent
        ORDER BY t1.average_rent
        """

SyntaxError: incomplete input (967231704.py, line 1)

In [2]:
query5 = """
        SELECT t1.ZIPCODE,
               COUNT(t2.tree_id) AS tree_num
        FROM tbZipcodes AS t1
        JOIN tbTree AS t2 ON ST_Within(ST_MakePoint(t2.longitude, t2.Latitude), t1.geometry)
        GROUP BY t1.ZIPCODE
        """

SyntaxError: incomplete input (896658335.py, line 1)

In [3]:
query6 = """
        SELECT tree_id AS ID,
               spc_latin AS species,
               health,
               status,
               (longitude,Latitude) AS location
        FROM tbTree
        WHERE ST_DWithin(
            ST_MakePoint(longitude, Latitude)::geography,
            ST_MakePoint(-73.96253174434912, 40.80737875669467)::geography,
            805  
         """

SyntaxError: incomplete input (3976018446.py, line 1)

# Part 4: Visualizing Data

In [ ]:
visual_1 = """
        SELECT SUBSTR(created_date,1,10) AS day,
               complaint_type,
               COUNT(unique_key) AS complaint_num
        FROM tb311
        WHERE created_date BETWEEN '2022-10-01T00:00:00.000' AND '2023-09-30T23:59:59.999'
        GROUP BY 1,2
        """