TABLE NAME:  
tb311  
tbTree  
tbRent  
tbZipcodes

# Part 1: Data Preprocessing

In [7]:
import requests
import json
import pandas as pd

## Download DATA

In [8]:
token = 'eGoVZwLahX4QKwljgqtidcGuw'
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.json"
url_tree = "https://data.cityofnewyork.us/resource/5rq2-4hqu.json"
start_date = '2015-01-01T00:00:00.000'
end_date = '2023-10-01T00:00.000'
start_date_tree = '01/01/2015'

### Download DATA of 311

In [9]:
data311_url = f"{url_311}?$select=count(*)&$where=created_date>'{start_date}'and created_date<'{end_date}'&$$app_token={token}"
response = requests.get(data311_url)
# with open("data311.json", "wb") as file:
#         file.write(response.content)
num = int(json.loads(response.content)[0]['count'])
num

24334859

In [10]:
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit=10000000"
response = requests.get(data311_url) 
data = response.json()
df_data311 = pd.DataFrame(data)
df_data311
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
9999995,47194353,2020-08-10T12:11:43.000,Blocked Driveway,11377,2020-08-10T12:52:36.000,1009797,211998,40.74852520005724,-73.90779884309966,14787
9999996,47189561,2020-08-10T12:11:40.000,Indoor Air Quality,10468,2020-08-10T17:04:45.000,1012053,252702,40.860239591233366,-73.89948820420176,11606
9999997,47190325,2020-08-10T12:11:02.000,NonCompliance with Phased Reopening,11356,2020-08-14T13:29:00.000,1029348,226316,40.78774622870991,-73.8371417826674,14191
9999998,47188108,2020-08-10T12:11:00.000,Dirty Conditions,NaN,2020-09-18T12:00:00.000,NaN,NaN,NaN,NaN,NaN
9999999,47197771,2020-08-10T12:11:00.000,Dirty Conditions,10473,2020-08-17T12:00:00.000,1025468,240511,40.82672647319608,-73.85106608325964,11611

In [11]:
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit=10000000&$offset=10000000"
response = requests.get(data311_url) 
data = response.json()
df_data311_1 = pd.concat([df_data311, pd.DataFrame(data)], ignore_index=True)
df_data311_1
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
19999995,34679361,2016-11-01T02:09:00.000,Noise,10035,2016-11-02T22:30:00.000,1000105,230736,40.79997877461986,-73.94273381900739,13093
19999996,34672357,2016-11-01T02:09:00.000,Noise - Residential,10040,2016-11-01T02:29:52.000,1001515,251171,40.85606435468108,-73.93758849825578,13098
19999997,34685649,2016-11-01T02:08:30.000,HEAT/HOT WATER,10472,2016-11-01T02:22:25.000,1018209,239723,40.824594531459304,-73.8772991398564,11610
19999998,34679334,2016-11-01T02:08:21.000,General Construction/Plumbing,11419,2016-11-10T00:00:00.000,1031447,187834,40.68211187789757,-73.82983183641889,24015
19999999,34686346,2016-11-01T02:07:34.000,WATER LEAK,10453,2016-11-02T13:56:00.000,1007493,250591,40.85445871431665,-73.91598056093478,10931

In [12]:
num3 = num - 20000000
data311_url = f"{url_311}?$$app_token={token}&$select=unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi&$where=created_date>='{start_date}'and created_date<'{end_date}' &$limit={num3}&$offset=20000000"
response = requests.get(data311_url) 
data = response.json()
df_data311_2 = pd.concat([df_data311_1, pd.DataFrame(data)], ignore_index=True)
df_data311_2
# print(df_data311.head())

,unique_key,created_date,complaint_type,incident_zip,resolution_action_updated_date,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude,:@computed_region_efsh_h5xi
0,58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,2023-10-01T00:16:51.000,995577,178158,40.655672001198894,-73.95917686020623,13510
1,58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,2023-10-01T00:14:37.000,1043108,218698,40.76675595839554,-73.78751847563191,14196
2,58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,2023-10-01T00:27:53.000,988445,201410,40.71949965458691,-73.98486650733275,11723
3,58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,2023-10-01T01:44:49.000,1040468,189816,40.687499303408536,-73.7972903094197,24670
4,58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,2023-10-01T00:08:41.000,995919,176894,40.65220215349917,-73.9579464603267,13510
...,...,...,...,...,...,...,...,...,...,...
24334854,29609918,2015-01-01T00:04:44.000,Illegal Parking,11421,2015-01-01T10:21:37.000,1022809,192567,40.69514470265117,-73.86094888534394,24017
24334855,29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468,2015-01-01T02:23:16.000,1009923,255465,40.86782963689454,-73.90717786644662,11606
24334856,29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031,2015-01-01T00:19:33.000,997847,238629,40.821646626438095,-73.95087342885292,12428
24334857,29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466,2015-01-01T02:41:57.000,1024816,262237,40.88636077906953,-73.85329048666742,11275
24334858,29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420,2015-01-01T02:47:01.000,1038733,184971,40.674211762243935,-73.80358548685278,24016

In [15]:
date311_file_path = "/Users/yoyo/Desktop/4501/Project/data/data311.csv"
with open(date311_file_path, "w", encoding='utf-8') as csv_file:
        df_data311_2.to_csv(csv_file, index=False)

### Download DATA of TREE

In [9]:
dataTree_url = f"{url_tree}?$select=count(*)&$where=created_at>'{start_date_tree}'&$$app_token={token}"
response = requests.get(dataTree_url)
response
num_tree = int(json.loads(response.content)[0]['count'])
num_tree

683788

In [14]:
dataTree_url = f"{url_tree}?$$app_token={token}&$where=created_at>='{start_date_tree}'&$limit={num_tree}"
response = requests.get(dataTree_url) 
data = response.json()
df_dataTree = pd.DataFrame(data)
df_dataTree

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,"{'type': 'Point', 'coordinates': [-73.84421521...",3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749
1,09/03/2015,200540,315986,"{'type': 'Point', 'coordinates': [-73.81867945...",21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379
2,09/05/2015,204026,218365,"{'type': 'Point', 'coordinates': [-73.93660770...",3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267
3,09/05/2015,204337,217969,"{'type': 'Point', 'coordinates': [-73.93445615...",10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136
4,08/30/2015,189565,223043,"{'type': 'Point', 'coordinates': [-73.97597938...",21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,08/18/2015,155433,217978,"{'type': 'Point', 'coordinates': [-73.95494401...",25,0,OnCurb,Alive,Good,Quercus palustris,...,53,18,BK73,North Side-South Side,3051900,New York,40.71321078,-73.95494401,996740.685965,199121.636255
683784,08/29/2015,183795,348185,"{'type': 'Point', 'coordinates': [-73.85665019...",7,0,OnCurb,Alive,Good,Cladrastis kentukea,...,28,15,QN17,Forest Hills,4070700,New York,40.71519444,-73.8566502,1023989.07438,199873.647547
683785,08/22/2015,166161,401670,"{'type': 'Point', 'coordinates': [-74.13651724...",12,0,OnCurb,Alive,Good,Acer rubrum,...,63,24,SI07,Westerleigh,5020100,New York,40.62076153,-74.13651724,946351.410431,165466.07627
683786,08/29/2015,184028,504204,"{'type': 'Point', 'coordinates': [-73.90311472...",9,0,OnCurb,Alive,Good,Acer rubrum,...,86,33,BX41,Mount Hope,2023502,New York,40.85082819,-73.90311472,1011053.64553,249271.950653
683787,09/03/2015,200607,306527,"{'type': 'Point', 'coordinates': [-73.78752645...",23,0,OnCurb,Alive,Fair,Acer rubrum,...,25,11,QN41,Fresh Meadows-Utopia,4134100,New York,40.73216525,-73.78752646,1043136.35794,206095.538318

In [15]:
dataTree_file_path = "/Users/yoyo/Desktop/4501/Project/data/dataTree.csv"
with open(dataTree_file_path, "w", encoding='utf-8') as csv_file:
        df_dataTree.to_csv(csv_file, index=False)

## Cleaning & Filtering

### Removing unnecessary columns and invalid data point of "zillow_rent_data"

In [1]:
import pandas as pd
import geopandas as gpd

zillowdf = pd.read_csv('/Users/yoyo/Desktop/4501/Project/data/zillow_rent_data.csv')
# zillowdf = pd.read_csv("C:/Users/Yining Zhu/OneDrive/桌面/4004pj/zillow_rent_data.csv")

zillowdf = zillowdf.drop(['SizeRank','RegionType','StateName','State','City','Metro','CountyName'], axis=1)
zillowdf = zillowdf.set_index('RegionID')
zillowdf.columns = ['ZipCode',*list(map(lambda x:x[:7],zillowdf.columns[1:]))]

def exneg(x):
    if x<0:
        print("There is a negativa number!")
        return np.nan
    else:
        return x

zillowdf.iloc[:,1:] = zillowdf.iloc[:,1:].applymap(exneg)
zillowdf

,ZipCode,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,...,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09
RegionID,,,,,,,,,,,,,,,,,,,,,
91982,77494,1606.206406,1612.779844,1622.201575,1630.392427,1632.411500,1636.206864,1644.894632,1643.390762,1636.971443,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
91940,77449,1257.814660,1255.268025,1262.170452,1274.955754,1285.526052,1295.665673,1296.650395,1300.868081,1301.898486,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
91733,77084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
93144,79936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
62093,11385,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,2297.900917,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418163,89158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3281.330738,3509.210744,3407.499896,3438.041504,3436.371804,3524.703410,3426.708975,3412.249969,3310.302151,3448.166667
72017,32461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2583.675563,2590.977335,2639.938102,2702.500000
58956,2876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2250.000000
91179,76005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2148.224601,2169.143026,2179.393248,2226.624684,2369.532530,2374.713926,2414.638428,2389.749852,2383.185013,2313.944444
61618,10004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4006.972903,4000.923287,4002.584212,4085.513015,4224.569373,4240.040733,4286.776061,4270.158740,4353.055657,4355.328283

### Normalize the SRID, Removing unnecessary columns and invalid data point of "zipcodes"

In [15]:
file_path = '/Users/yoyo/Desktop/4501/Project/data/nyc_zipcodes.shp'
# file_path = "C:/Users/Yining Zhu/OneDrive/桌面/4004pj/nyc_zipcodes/nyc_zipcodes.shp"
gdf = gpd.read_file(file_path)

target_srid = "4326"
gdf_epsg = gdf.to_crs(epsg=target_srid)
# print(gdf.crs)

gdf_epsg = gdf_epsg.drop(['BLDGZIP','PO_NAME','POPULATION','AREA','STATE','COUNTY','ST_FIPS','CTY_FIPS','URL','SHAPE_AREA','SHAPE_LEN'], axis=1)

gdf_epsg = gdf_epsg.dropna()
gdf_epsg.columns = ['ZipCode','geom']
gdf_epsg.index.name = 'ID'
gdf_epsg

    ZipCode                                               geom
ID
0     11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1     11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2     11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3     11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4     11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...
..      ...                                                ...
258   10310  POLYGON ((-74.12065 40.64104, -74.12057 40.641...
259   11693  POLYGON ((-73.84076 40.62536, -73.84306 40.627...
260   11249  POLYGON ((-73.95805 40.72442, -73.95772 40.724...
261   10162  POLYGON ((-73.95133 40.76931, -73.95165 40.769...
262   10119  POLYGON ((-73.99354 40.75145, -73.99320 40.751...

[263 rows x 2 columns]

### Removing unnecessary columns and invalid data point of "Tree_Data"

In [16]:
treedf = pd.read_csv('/Users/yoyo/Desktop/4501/Project/data/dataTree.csv')
keepco =["tree_id","zipcode","status","health","spc_common","latitude","longitude","x_sp","y_sp"]
treedf = treedf[keepco]
treedf.columns = ["tree_id","ZipCode","status","health","spc_common","latitude","longitude","x_sp","y_sp"]
treedf = treedf.set_index('tree_id')

if len(treedf.index) == len(set(treedf.index)) and not any(treedf['ZipCode'].isnull()):
    print("Each tree_id is unique!")
    print("There is no invalid zipcode!")
    ftreedf = treedf
else:
    print("Something is wrong!")
    ftreedf = "need renew"

ftreedf

# checkcheck()
# treedf
# treedf[treedf.isnull().any(axis=1)]
# any(treedf.isnull())

Each tree_id is unique!
There is no invalid zipcode!

,ZipCode,status,health,spc_common,latitude,longitude,x_sp,y_sp
tree_id,,,,,,,,
180683,11375,Alive,Fair,red maple,40.723092,-73.844215,1.027431e+06,202756.768749
200540,11357,Alive,Fair,pin oak,40.794111,-73.818679,1.034456e+06,228644.837379
204026,11211,Alive,Good,honeylocust,40.717581,-73.936608,1.001823e+06,200716.891267
204337,11211,Alive,Good,honeylocust,40.713537,-73.934456,1.002420e+06,199244.253136
189565,11215,Alive,Good,American linden,40.666778,-73.975979,9.909138e+05,182202.425999
...,...,...,...,...,...,...,...,...
155433,11211,Alive,Good,pin oak,40.713211,-73.954944,9.967407e+05,199121.636255
183795,11375,Alive,Good,Kentucky yellowwood,40.715194,-73.856650,1.023989e+06,199873.647547
166161,10314,Alive,Good,red maple,40.620762,-74.136517,9.463514e+05,165466.076270
184028,10457,Alive,Good,red maple,40.850828,-73.903115,1.011054e+06,249271.950653
200607,11365,Alive,Fair,red maple,40.732165,-73.787526,1.043136e+06,206095.538318

In [32]:
ftreedf.ZipCode

tree_id
180683    11375
200540    11357
204026    11211
204337    11211
189565    11215
          ...
155433    11211
183795    11375
166161    10314
184028    10457
200607    11365
Name: ZipCode, Length: 683788, dtype: int64

### Removing unnecessary columns and invalid data point of "311_Data"

In [5]:
import pandas as pd
import geopandas as gpd
import numpy as np
data311df = pd.read_csv('/Users/yoyo/Desktop/4501/Project/data/data311.csv')
data311df = data311df.drop([':@computed_region_efsh_h5xi','resolution_action_updated_date'], axis=1)
data311df = data311df.set_index('unique_key')
data311df

/var/folders/n6/pc1ct2qx01s6yggx10dx3d3c0000gn/T/ipykernel_37862/1584544907.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data311df = pd.read_csv('/Users/yoyo/Desktop/4501/Project/data/data311.csv')

,created_date,complaint_type,incident_zip,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude
unique_key,,,,,,,
58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226.0,995577.0,178158.0,40.655672,-73.959177
58972386,2023-09-30T23:59:38.000,Noise - Residential,11361.0,1043108.0,218698.0,40.766756,-73.787518
58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002.0,988445.0,201410.0,40.719500,-73.984867
58974769,2023-09-30T23:59:34.000,Noise - Residential,11435.0,1040468.0,189816.0,40.687499,-73.797290
58968700,2023-09-30T23:59:28.000,Noise - Residential,11226.0,995919.0,176894.0,40.652202,-73.957946
...,...,...,...,...,...,...,...
29609918,2015-01-01T00:04:44.000,Illegal Parking,11421.0,1022809.0,192567.0,40.695145,-73.860949
29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468.0,1009923.0,255465.0,40.867830,-73.907178
29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031.0,997847.0,238629.0,40.821647,-73.950873
29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466.0,1024816.0,262237.0,40.886361,-73.853290
29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420.0,1038733.0,184971.0,40.674212,-73.803585

In [6]:
# find datatype of incident_zip
data311df.index.name = 'complaint_id'
data311df.incident_zip.apply(type).unique()

array([<class 'float'>, <class 'str'>], dtype=object)

In [7]:
zip_str = data311df[data311df.incident_zip.apply(type)==str]
zip_str_null = zip_str[zip_str.incident_zip.isnull()]
# zip_str_null
data311df_remove0 = data311df.drop(zip_str_null.index)

In [8]:
zip_float = data311df[data311df.incident_zip.apply(type)==float]
zip_float_null = zip_float[zip_float.incident_zip.isnull()]
data311df_remove1 = data311df_remove0.drop(zip_float_null.index)
data311df_remove1

,created_date,complaint_type,incident_zip,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude
complaint_id,,,,,,,
58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226.0,995577.0,178158.0,40.655672,-73.959177
58972386,2023-09-30T23:59:38.000,Noise - Residential,11361.0,1043108.0,218698.0,40.766756,-73.787518
58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002.0,988445.0,201410.0,40.719500,-73.984867
58974769,2023-09-30T23:59:34.000,Noise - Residential,11435.0,1040468.0,189816.0,40.687499,-73.797290
58968700,2023-09-30T23:59:28.000,Noise - Residential,11226.0,995919.0,176894.0,40.652202,-73.957946
...,...,...,...,...,...,...,...
29609918,2015-01-01T00:04:44.000,Illegal Parking,11421.0,1022809.0,192567.0,40.695145,-73.860949
29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468.0,1009923.0,255465.0,40.867830,-73.907178
29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031.0,997847.0,238629.0,40.821647,-73.950873
29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466.0,1024816.0,262237.0,40.886361,-73.853290
29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420.0,1038733.0,184971.0,40.674212,-73.803585

In [90]:
data311df_remove1['incident_zip'][data311df_remove1['incident_zip'].isnull()==True]

Series([], Name: incident_zip, dtype: object)

In [9]:
#？？要用吗 我没用懒得用了
def mixo(x):
    if type(x)==str:
        x = x.replace('O','0')
    return x

filter the row which there is letter in zipcodes

In [10]:
import string
all_letters = string.ascii_letters
special = string.punctuation
#判断是否含有字母，如有返回True
def letterin(x):
    if type(x)==str and len(set(x)&set(all_letters))>0:
        return True
    else:
        return False
    
#在不足五位的zip前填充0
def fill0(x):
    return '0'*(5-len(x))+x

#判断是否有数字外的其他符号，如有返回False
def dele(x):
    if len(set(x)-set('1234567890'))>0:
        return False
    else:
        return True

In [11]:
#去除含有字母的zip
contains_letter = data311df_remove1['incident_zip'].apply(letterin)
rows_with_letter = data311df_remove1[contains_letter]
data311df_remove2 = data311df_remove1.drop(rows_with_letter.index)

#只保留空格.-前的数字 ; O -> 0
col1 = data311df_remove2.incident_zip.apply(str).apply(mixo).apply(lambda x:x.split(' ')[0]).apply(lambda x:x.split('.')[0]).apply(lambda x:x.split('-')[0]).apply(fill0)
#去除zip前的`
col2 = col1.apply(lambda x:x.strip('`'))
#删除有数字外的其他符号zip的所在行
col3 = col2[col2.apply(dele)]

data311df_remove3 = data311df_remove2.loc[col3.index]
data311df_remove3.loc[col3.index,'incident_zip'] = col3

In [12]:
def to_int(x):
    if np.isnan(x):
        return x
    else:
        return int(x)

In [13]:
data311df_remove2

,created_date,complaint_type,incident_zip,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude
complaint_id,,,,,,,
58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226.0,995577.0,178158.0,40.655672,-73.959177
58972386,2023-09-30T23:59:38.000,Noise - Residential,11361.0,1043108.0,218698.0,40.766756,-73.787518
58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002.0,988445.0,201410.0,40.719500,-73.984867
58974769,2023-09-30T23:59:34.000,Noise - Residential,11435.0,1040468.0,189816.0,40.687499,-73.797290
58968700,2023-09-30T23:59:28.000,Noise - Residential,11226.0,995919.0,176894.0,40.652202,-73.957946
...,...,...,...,...,...,...,...
29609918,2015-01-01T00:04:44.000,Illegal Parking,11421.0,1022809.0,192567.0,40.695145,-73.860949
29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468.0,1009923.0,255465.0,40.867830,-73.907178
29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031.0,997847.0,238629.0,40.821647,-73.950873
29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466.0,1024816.0,262237.0,40.886361,-73.853290
29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420.0,1038733.0,184971.0,40.674212,-73.803585

In [14]:
data311_final = data311df_remove3.rename(columns = {'incident_zip':'ZipCode'})

In [15]:
data311_final

,created_date,complaint_type,ZipCode,x_coordinate_state_plane,y_coordinate_state_plane,latitude,longitude
complaint_id,,,,,,,
58974915,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,995577.0,178158.0,40.655672,-73.959177
58972386,2023-09-30T23:59:38.000,Noise - Residential,11361,1043108.0,218698.0,40.766756,-73.787518
58973465,2023-09-30T23:59:35.000,Noise - Commercial,10002,988445.0,201410.0,40.719500,-73.984867
58974769,2023-09-30T23:59:34.000,Noise - Residential,11435,1040468.0,189816.0,40.687499,-73.797290
58968700,2023-09-30T23:59:28.000,Noise - Residential,11226,995919.0,176894.0,40.652202,-73.957946
...,...,...,...,...,...,...,...
29609918,2015-01-01T00:04:44.000,Illegal Parking,11421,1022809.0,192567.0,40.695145,-73.860949
29608392,2015-01-01T00:04:28.000,Noise - Vehicle,10468,1009923.0,255465.0,40.867830,-73.907178
29607589,2015-01-01T00:01:30.000,Noise - Street/Sidewalk,10031,997847.0,238629.0,40.821647,-73.950873
29610889,2015-01-01T00:01:29.000,Blocked Driveway,10466,1024816.0,262237.0,40.886361,-73.853290
29611816,2015-01-01T00:00:50.000,Blocked Driveway,11420,1038733.0,184971.0,40.674212,-73.803585

# Part2: Storing Data

In [17]:
!createdb db_4501

In [18]:
!psql --dbname db_4501 -c 'CREATE EXTENSION postgis'

CREATE EXTENSION

In [34]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 8.9 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_11_0_arm64.whl size=133256 sha256=fedaeabd126c90b54da0d680541093abb23ebaaf59e91845454debb38c2525b5
  Stored in directory: /Users/yoyo/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [8]:
from sqlalchemy import create_engine
import psycopg2

# PostgreSQL连接参数
db_params = {
    'host': 'localhost',
    'port': '5432',
    'user': 'postgres',
    'password': '12200301',
    'database': 'db_4501',
}

# 创建一个SQLAlchemy引擎
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

# 读取 schema.sql 文件
with open("schema.sql", "r") as file:
    sql_statements = file.read()

# 连接到 PostgreSQL 数据库
with psycopg2.connect(**db_params) as connection:
    with connection.cursor() as cursor:
        # 使用 psycopg2 执行 SQL 语句
        cursor.execute(sql_statements)

    # 提交更改
    connection.commit()

# 使用 SQLAlchemy 引擎执行一些额外的查询
result = engine.execute("SELECT * FROM trees")
rows = result.fetchall()
for row in rows:
    print(row)

In [13]:
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

# 创建示例 DataFrame


# 将 DataFrame 写入数据库表
table_name = 'NYCzipcodes'
gdf_epsg.to_sql(table_name, con=engine, index=False, if_exists='replace')

# 查询数据库表验证数据是否成功写入
query = f"SELECT * FROM {table_name}"
result = pd.read_sql_query(query, con=engine)
print(result)

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'Polygon'
[SQL: INSERT INTO "NYCzipcodes" ("ZipCode", geom) VALUES (%(ZipCode)s, %(geom)s)]
[parameters: ({'ZipCode': '11436', 'geom': <POLYGON ((-73.806 40.683, -73.806 40.683, -73.806 40.683, -73.805 40.683, -...>}, {'ZipCode': '11213', 'geom': <POLYGON ((-73.937 40.68, -73.935 40.68, -73.935 40.68, -73.934 40.68, -73.9...>}, {'ZipCode': '11212', 'geom': <POLYGON ((-73.903 40.671, -73.902 40.668, -73.902 40.668, -73.902 40.668, -...>}, {'ZipCode': '11225', 'geom': <POLYGON ((-73.958 40.671, -73.956 40.67, -73.956 40.67, -73.955 40.67, -73....>}, {'ZipCode': '11218', 'geom': <POLYGON ((-73.972 40.651, -73.972 40.65, -73.972 40.649, -73.971 40.648, -7...>}, {'ZipCode': '11226', 'geom': <POLYGON ((-73.962 40.655, -73.962 40.655, -73.962 40.655, -73.962 40.655, -...>}, {'ZipCode': '11219', 'geom': <POLYGON ((-73.989 40.644, -73.989 40.644, -73.99 40.644, -73.99 40.643, -73...>}, {'ZipCode': '11210', 'geom': <POLYGON ((-73.958 40.636, -73.957 40.637, -73.957 40.637, -73.957 40.637, -...>}  ... displaying 10 of 263 total bound parameter sets ...  {'ZipCode': '10162', 'geom': <POLYGON ((-73.951 40.769, -73.952 40.769, -73.951 40.77, -73.951 40.77, -73...>}, {'ZipCode': '10119', 'geom': <POLYGON ((-73.994 40.751, -73.993 40.752, -73.991 40.751, -73.991 40.751, -...>})]
(Background on this error at: https://sqlalche.me/e/14/f405)

### insert data to table "trees"

In [18]:
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

# 创建示例 DataFrame


# 将 DataFrame 写入数据库表
table_name = 'trees'
ftreedf.to_sql(table_name, con=engine, index=False, if_exists='replace')

# 查询数据库表验证数据是否成功写入
query = f"SELECT * FROM {table_name}"
result = pd.read_sql_query(query, con=engine)
print(result)

        ZipCode status health           spc_common   latitude  longitude  \
0         11375  Alive   Fair            red maple  40.723092 -73.844215
1         11357  Alive   Fair              pin oak  40.794111 -73.818679
2         11211  Alive   Good          honeylocust  40.717581 -73.936608
3         11211  Alive   Good          honeylocust  40.713537 -73.934456
4         11215  Alive   Good      American linden  40.666778 -73.975979
...         ...    ...    ...                  ...        ...        ...
683783    11211  Alive   Good              pin oak  40.713211 -73.954944
683784    11375  Alive   Good  Kentucky yellowwood  40.715194 -73.856650
683785    10314  Alive   Good            red maple  40.620762 -74.136517
683786    10457  Alive   Good            red maple  40.850828 -73.903115
683787    11365  Alive   Fair            red maple  40.732165 -73.787526

                x_sp           y_sp
0       1.027431e+06  202756.768749
1       1.034456e+06  228644.837379
2       1.001823e+06  200716.891267
3       1.002420e+06  199244.253136
4       9.909138e+05  182202.425999
...              ...            ...
683783  9.967407e+05  199121.636255
683784  1.023989e+06  199873.647547
683785  9.463514e+05  165466.076270
683786  1.011054e+06  249271.950653
683787  1.043136e+06  206095.538318

[683788 rows x 8 columns]

### insert data to table "complaints311"

In [16]:
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

# 创建示例 DataFrame


# 将 DataFrame 写入数据库表
table_name = 'complaints311'
data311_final.to_sql(table_name, con=engine, index=False, if_exists='replace')

# 查询数据库表验证数据是否成功写入
query = f"SELECT * FROM {table_name}"
result = pd.read_sql_query(query, con=engine)
print(result)

:

### insert data to table "rents"

In [3]:
from sqlalchemy import create_engine
import psycopg2

# PostgreSQL连接参数
db_params = {
    'host': 'localhost',
    'port': '5432',
    'user': 'postgres',
    'password': '12200301',
    'database': 'db_4501',
}

In [4]:
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

# 创建示例 DataFrame


# 将 DataFrame 写入数据库表
table_name = 'complaints311'
zillowdf.to_sql(table_name, con=engine, index=False, if_exists='replace')

# 查询数据库表验证数据是否成功写入
query = f"SELECT * FROM {table_name}"
result = pd.read_sql_query(query, con=engine)
print(result)

      ZipCode      2015-01      2015-02      2015-03      2015-04  \
0       77494  1606.206406  1612.779844  1622.201575  1630.392427
1       77449  1257.814660  1255.268025  1262.170452  1274.955754
2       77084          NaN          NaN          NaN          NaN
3       79936          NaN          NaN          NaN          NaN
4       11385          NaN  2087.527084          NaN  2149.924252
...       ...          ...          ...          ...          ...
6717    89158          NaN          NaN          NaN          NaN
6718    32461          NaN          NaN          NaN          NaN
6719     2876          NaN          NaN          NaN          NaN
6720    76005          NaN          NaN          NaN          NaN
6721    10004          NaN          NaN          NaN          NaN

          2015-05      2015-06      2015-07      2015-08      2015-09  ...  \
0     1632.411500  1636.206864  1644.894632  1643.390762  1636.971443  ...
1     1285.526052  1295.665673  1296.650395  1300.868081  1301.898486  ...
2             NaN          NaN          NaN          NaN          NaN  ...
3             NaN          NaN          NaN          NaN          NaN  ...
4     2166.263698  2148.992886  2190.098591  2264.966715  2297.900917  ...
...           ...          ...          ...          ...          ...  ...
6717          NaN          NaN          NaN          NaN          NaN  ...
6718          NaN          NaN          NaN          NaN          NaN  ...
6719          NaN          NaN          NaN          NaN          NaN  ...
6720          NaN          NaN          NaN          NaN          NaN  ...
6721          NaN          NaN          NaN          NaN          NaN  ...

          2022-12      2023-01      2023-02      2023-03      2023-04  \
0     1994.653463  2027.438438  2042.237444  2049.325559  2016.531345
1     1749.697900  1738.217986  1747.305840  1758.407295  1758.891075
2     1701.217520  1706.900064  1706.067787  1723.722320  1735.484670
3     1419.480272  1458.063897  1471.726681  1466.734658  1456.175660
4     2935.808220  2895.699421  2873.209025  2881.906361  2913.546218
...           ...          ...          ...          ...          ...
6717  3281.330738  3509.210744  3407.499896  3438.041504  3436.371804
6718          NaN          NaN          NaN          NaN          NaN
6719          NaN          NaN          NaN          NaN          NaN
6720  2148.224601  2169.143026  2179.393248  2226.624684  2369.532530
6721  4006.972903  4000.923287  4002.584212  4085.513015  4224.569373

          2023-05      2023-06      2023-07      2023-08      2023-09
0     2023.438976  2031.558202  2046.144009  2053.486247  2055.771355
1     1762.980879  1771.751591  1779.338402  1795.384582  1799.631140
2     1752.132904  1756.990323  1754.429516  1757.602011  1755.031490
3     1462.478506  1466.267391  1490.237063  1488.180414  1494.366097
4     2963.964134  3005.735342  3034.413822  3064.476503  3079.585783
...           ...          ...          ...          ...          ...
6717  3524.703410  3426.708975  3412.249969  3310.302151  3448.166667
6718          NaN  2583.675563  2590.977335  2639.938102  2702.500000
6719          NaN          NaN          NaN          NaN  2250.000000
6720  2374.713926  2414.638428  2389.749852  2383.185013  2313.944444
6721  4240.040733  4286.776061  4270.158740  4353.055657  4355.328283

[6722 rows x 106 columns]

# Part 3: Understanding Data

In [43]:
col3

unique_key
58974915    11226
58972386    11361
58973465    10002
58974769    11435
58968700    11226
            ...
29609918    11421
29608392    10468
29607589    10031
29610889    10466
29611816    11420
Name: incident_zip, Length: 23517838, dtype: object

## Query 1

In [ ]:
query1 = """
        SELECT incident_zip as zip_code,
               COUNT(unique_key) AS complaint_num
        FROM tb311
        WHERE created_date BETWEEN '2022-10-01T00:00:00.000' AND '2023-09-30T23:59:59.999'
        GROUP BY incident_zip
        """

In [ ]:
query2 = """
        SELECT zipcode,
               COUNT(tree_id) AS tree_num
        FROM tbTree
        GROUP BY zipcode
        ORDER BY COUNT(tree_id) DESC
        LIMIT 10
        """

In [ ]:
query3 = """
        WITH tb_most_tree_zipcode as(
                                    SELECT zipcode,
                                           COUNT(tree_id) AS tree_num
                                    FROM tbTree
                                    GROUP BY zipcode
                                    ORDER BY COUNT(tree_id) DESC
                                    LIMIT 10),
        SELECT t1.zipcode,
               ROUND(AVERAGE(t2.2023-08-31),2) AS average_rent
        FROM tb_most_tree_zipcode AS t1
        JOIN tbRent AS t2 ON t1.zipcode = t2.RegionName
        GROUP BY t1.zipcode
        ORDER BY t1.tree_num
        """

In [1]:
query4 = """
        WITH 
        lowest_highest_rent_zipcode as(SELECT RegionName as zipcode,
                                              ROUND(AVERAGE(2023-01-31),2) AS average_rent
                                       FROM tbRent
                                       GROUP BY zipcode
                                       ORDER BY ROUND(AVERAGE(2023-01-31),2) ASC
                                       LIMIT 5
                                       UNION ALL
                                       SELECT RegionName as zipcode,
                                              ROUND(AVERAGE(2023-01-31),2) AS average_rent
                                       FROM tbRent
                                       GROUP BY zipcode
                                       ORDER BY ROUND(AVERAGE(2023-01-31),2) DESC
                                       LIMIT 5),
                                               
        SELECT t1.zipcode,
               t1.average_rent,
               COUNT(t2.tree_id) AS tree_num,
               COUNT(t3.unique_key) AS complaint_num
        FROM lowest_highest_rent_zipcode as t1
        LEFT JOIN tbTree AS t2 ON t1.zipcode = t2.zipcode
        LEFT JOIN tb311 AS t3 ON t1.zipcode = t2.incident_zip
        GROUP BY t1.zipcode, t1.average_rent
        ORDER BY t1.average_rent
        """

SyntaxError: incomplete input (967231704.py, line 1)

In [2]:
query5 = """
        SELECT t1.ZIPCODE,
               COUNT(t2.tree_id) AS tree_num
        FROM tbZipcodes AS t1
        JOIN tbTree AS t2 ON ST_Within(ST_MakePoint(t2.longitude, t2.Latitude), t1.geometry)
        GROUP BY t1.ZIPCODE
        """

SyntaxError: incomplete input (896658335.py, line 1)

In [3]:
query6 = """
        SELECT tree_id AS ID,
               spc_latin AS species,
               health,
               status,
               (longitude,Latitude) AS location
        FROM tbTree
        WHERE ST_DWithin(
            ST_MakePoint(longitude, Latitude)::geography,
            ST_MakePoint(-73.96253174434912, 40.80737875669467)::geography,
            805  
         """

SyntaxError: incomplete input (3976018446.py, line 1)

# Part 4: Visualizing Data

In [ ]:
visual_1 = """
        SELECT SUBSTR(created_date,1,10) AS day,
               complaint_type,
               COUNT(unique_key) AS complaint_num
        FROM tb311
        WHERE created_date BETWEEN '2022-10-01T00:00:00.000' AND '2023-09-30T23:59:59.999'
        GROUP BY 1,2
        """